* {
	
}

body {
	padding: 0;
	margin: 0;
}
#title {
	width: 100vw;
	margin: 0;
	padding: 0;
	position: relative;
	color: white;
	text-align: center;
}
#title img{
	width: 100%;
}
#title-text {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 6vw;
	width: 100%;
	margin: 0;
}

#below {
	width: 100%;
	text-align: center;
}

#set {
	padding: 1em;
	background-color: rgb(255, 152, 93);
	font-size: 2em;
	text-decoration: none;
	color: white;
}